<div id="navbar" class="navbar--toggled">
  <nav class="navbar__open">
    <a class="navbar-close"><span class="icon-close"></span></a>
    <a href="" class="nav-item--logo">
      <span class="icon-logo"></span>
    </a>
    <a href="" class="nav-item--first">Home</a>
    <a href="" class="nav-item">Shop</a>
    <a href="" class="nav-item">About</a>
    <a href="" class="nav-item">Contact</a>
  </nav>
  <nav class="navbar__closed">
    <a class="navbar-open"><span class="icon-hamburger"></span></a>
    <a class="navbar-logo"><span class="icon-logo"></span></a>
  </nav>
</div>
<div class="scrim"></div>
